<h1>Todos Items List</h1>
<%= link_to "New Todo", new_todo_path %>
<% @todos.each do |todo| %>
  <p><input type="checkbox" id="<%= todo['id']%>"><%= link_to todo["title"], todo_path(todo[:id]) %> 
  <%= link_to "edit", edit_todo_path(todo[:id]) %> 
  <%= link_to "delete", 'todos/todo[:id]' %></p>
  
<% end %>
