<h1>Create a New Todo</h1>
<%= form_for @todo do |f| %>
  <%= label_tag(:title, "Title:") %>
  <%= f.text_field :title,  :class => "form-control" %></br>
  <%= label_tag(:description, "Description") %> <%= f.text_area :description, :class => "form-control" %></br>
  <%= f.submit "Create", :class => "btn btn-danger" %>
<% end %>

<hr>
<!-- using form_for and button_for may be too much abstraction at this point -->
<!-- should just use html form tags and button tags -->
<!-- <form action="/todos" method="post">
  Title: <input name='title' type="text" /><br>
  Description: <input name='description' type="text_area" /><br>
  <input name="commit" type="submit" value="Create" />
</form> -->